
*{
    margin: 0;
    padding:0 ;
}
html{
    scroll-behavior: smooth;
}
#preloader{
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
}
#preloader img{
    animation: scale 1s linear infinite;
    height: 30%;
}
@keyframes scale {
    0%{scale: 1;}
    50%{
        scale: 1.4;
    }
    100%{scale: 1;}
}
body{
    font-family: "montserrat-medium", sans-serif;
    overflow-x:hidden ;
}
.landing-pg{
    background-color: black;
    position: relative;
    width: 100%;
    height: 130vh;
    background-attachment: fixed;
}
.logo{
    width: 17rem;
    height: 17rem;
    background-color: transparent;
    margin-left: 2rem;
    margin-top: -1.5rem;
}
.logo img{
    width: 100%;
    border-radius: 100%;
}
.bg {
    background-color: #0C0C0C;
    width: 100%;
    opacity: .4;
    z-index: 1;
    position: absolute;
}
.bg img{
    height: 130vh;
    width: 100%;
}
nav{
    position: relative;
    z-index: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
    overflow: hidden;
}
#list{
    background-color: #0C0C0C;
    color: white;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2.8rem;
    padding:1.4rem;
    font-size: 1.3rem;
    list-style: none;
    position: fixed;
    transform: translateX(110%); 
    height: 100%;
    width: 280px;
    transition: all  .4s linear;
    margin-top: -20px;
    top: 10px;
    right: 0;
    z-index: 110;
}
#list li a{
    text-decoration: none;
    color: white;
}
#list p{
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem !important;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    margin:3rem 0;
}
ul .toggle{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    line-height: 10px;
    letter-spacing: -3px;
    position: fixed;
    top: 10px;
    z-index: 10;
    color: white;
    right:1.4rem;
    padding: .4rem;
    text-align: center;
    background-color: black;
    cursor: pointer;
}
.paar{
    margin-top: -6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    top: 100px;
}
.paar h1,.paar p{
    position: relative;
    color: white;
    width: 45%;
    margin: 0rem 8rem;
}
.paar h1{
    font-size: 3rem;
}
.paar p{
    color:rgb(255 255 255 / 50%);
}
.about{
    background-color: #39b54a;
}
.contain{
    padding: 5rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about p{
    font-size: 1.4rem;
    width: 53%;
    text-align: center;
}
.about h1{
    color: white;
    font-size: 3rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid white;
}

.work{
    margin-top: 9rem;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:0 11rem;
}
.text p{
    font-size: 1.7rem;
    text-align: center;
    color:#39b54a ;
}
.text h1{
    color: black;
    text-align: center;
    font-size: 3.4rem;
    padding-bottom: 2rem;
    margin-bottom: 1rem;
}
.grid{
    display: grid;
    justify-content: center;
    gap: 3rem;
    grid-template-columns: 33% 33%;
    padding: 2rem;
    padding: 3rem;
}
.box{
    padding: 2rem;
}
.box p{
    line-height: 25px;
}
.header{
    display: flex;
    width: 100%;
    position: relative;
    margin-bottom: 1rem
}
.header i{
    font-size: 2rem;
    color: green;
    position: absolute;
    left: -47px;
}
.owners{
    margin-top: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 5rem 1rem;
}
.name{
    font-size: 1.4rem;
}
.center{
    width: 900px;
    height: 400px;
    overflow-x: hidden;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}
.second p,.first p{
    word-spacing: .5rem;
    font-family: "lora-regular", serif;
}
.first{
    width:100%;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    transform: translateX(0%);
    transition: all .4s linear;
    align-items: center;
}
.owner{
    width: 200px;
    margin-top: 2rem;
    height: 70px;
}
.owner img{
    border-radius: 100%;
    height: 100%;
    object-fit: contain;
}
.co{
    font-size: .8rem !important;
}
.second{
    width:100%;
    font-size: 1.6rem;
    text-align: center;
    display: none;
    flex-direction: column;
    transform: translateX(0%);
    transition: all .4s linear;
    align-items: center;
    /* overflow: hidden; */
}
.btn{
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 50%;
    margin: 3rem 0;
}
.btn button{
    background-color: transparent;
    padding: .7rem 3.5rem;
    color: white;
    border:2px solid white;
    font-weight: 500;
    transition: all .4s linear;
    font-size: 1.4rem;
}
.btn button a{
    color: white;
    text-decoration: none;
}
.btn button:hover{
    background-color: white;
}
.btn button:hover a{
    color: black;
}
.left,.right{
    font-size: 3rem;
    cursor: pointer;
}
footer{
    background-color: #151515;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    background-image: url('./images/contactbg.webp');
    background-size: 100rem;
    text-align: center;
    /* padding: 8rem 0; */
    /* width: 120rem; */
}
.contact-status{
    color: white;
    position: relative;
}
.link{
    color: #39b54a;
    text-decoration: none;  
    font-size: 1.2rem;
    position: relative;
    top: .3rem;
}
.contact-status p{
    color: #39b54a;
    line-height: 3rem;
    font-weight: 600;
    word-break: break-all;
    word-spacing: .5rem;
    position: relative;
    top: 30px;
    z-index: 5;
}
.contact-status h1{
    font-size: 3.4rem;
    position: relative;
    z-index: 5;
    top: 30px;
    padding: 0px 12rem;
}
footer::before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #151515;
    opacity: .5;
}
.contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 12rem;
    position: relative;
    margin-top: 8rem;
    color: white;
    z-index: 10;
}
.gmail{
    background-color: #121212;;
    padding: 4rem 7rem;
    position: relative;
    margin-bottom: 3rem;
    text-align: start;
}
.head{
    position: absolute;
    top: 40px;
    font-weight: 700;
    font-style: normal;
}
.question{
    color: #39b54a;
    margin-bottom: 1rem;
    margin-top: 2rem;
    font-weight: 700;
    font-style: normal;
}
.ans p{
    color: #9b9b9b;
    line-height: 1.5rem;
}
.ans a{
    text-decoration: none;
    color: white;
}
.whatsapp{
    width: 300px;
}
.whatsapp img{
    width: 100%;
}
.copy{
    padding: 1rem;
    text-align: center;
    background-color: #121212;
    font-weight: 500;
    font-style: normal;
    color:white;
}
/* @media only screen and (min-width: 310px) and (max-width: 500px) {
    body{
    font-family: "montserrat-medium", sans-serif;
    width: 100%;
    overflow-x:hidden ;
    }
    .landing-pg{
        height: 100vh;
    }
    .bg img{
        height: 100vh;
    }
    .logo{
        width: 13rem;
        height: 13rem;
        margin-left: 0;
    }
    .head{
        top: 10px;
    }
    .paar{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 1;
        margin-top: 2rem;
    }
    .paar h1{
        font-size:2.4rem;
        width: 80%;
        position: relative;
        text-align: center;
    }
    .paar p,.paar h1{
        margin: 0;
        position: relative;
    }
    .paar p{
        font-size: .7rem;
        text-align: center;
    }
    .btn button{
        width: 100%;
        font-size: 1rem;
        padding: 1rem 2rem;
    }
    .btn{
        display: flex;
        flex-direction: column;
    }
    nav{
        position: relative;
        z-index:100;
    }
    #list{
        position: fixed;
        z-index: 1000;
        visibility: visible;
    }
    .about h1{
        font-size: 2.4rem;
    }
    .about p{
        font-size: 1rem;
        width: 80%;
    }
    .grid{
        display: flex;
        flex-direction: column;
    }
    .text p{
        font-size: 1rem;
    }
    .text{
        padding: 0 2rem;
    }
    .center{
        width: 100%;
    }
    .first{
        font-size: .8rem;
    }
    .second{
        font-size: .8rem;
    }
    .owners{
        width: 93%;
    }
    .text h1{
        font-size: 2.2rem;
        width: 100%;
    }
    .left,.right{
        font-size: 1rem;
    }
    .contact-status h1{
        font-size: 2rem;
        padding: 0 3rem;
    }
    .contact{
        flex-direction: column;
    }
    .whatsapp{
        width: 200px;
    }
    .link{
        font-size: .8rem;
    }
    .gmail{
        padding:10px 10px;
        margin-top: 40px;
        text-align: center;
        font-size: .8rem;
        width: 200px;
    }
  } */